:root {
    --index: calc(1vw + 1vh)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #CECECE2F;
}

.wrapper {
    margin: 5em auto;

    min-height: 500px;
    max-width: 1480px;
    background-color: #fff;
}

.container {
    padding: 20px;
    display: grid;
    max-height: 1100px;
    grid-template-areas:
                        "content"
                        "listing"
                        "actual"
                        "ad";
    gap: 20px;
}

@media screen and (min-width: 320px) {
    .container {
        grid-template-areas:
                        "content"
                        "listing"
                        "actual"
                        "ad";
        grid-template-columns: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        grid-template-areas:
                        "content ad"
                        "content actual"
                        "listing listing";
        grid-template-columns: 2fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        grid-template-areas:
                        "content ad"
                        "content actual"
                        "listing listing";
        grid-template-columns: auto 300px;
        grid-template-rows: 600px 480px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        grid-template-areas:
                        "content listing ad"
                        "content listing actual";
        grid-template-columns: auto 290px 290px;
        grid-template-rows: 600px 480px;
    }
}

.container > div {
    padding: 2em;
}

.news {
    grid-area: content;
    background-color: #f8e373;
}

.listing {
    grid-area: listing;
    background-color: #73f8d5;
}

.ad {
    grid-area: ad;
    background-color: #f87373;
}

.actual {
    grid-area: actual;
    background-color: #d273f8;
}
